extends layout

block content
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjHKGczt8QjINcTVQ4iZGXsSsYBESXipo&callback=initMap")

  style(type='text/css').
    html {
      height: 100%;
      width: 100%;
    }
    body {
      margin: 0;
      padding: 0;
      background: #000000 url(loading.gif) center center no-repeat;
      color: #ffffff;
      font-family: sans-serif !important;
      font-size: 13px;
      line-height: 20px;
      height: 100%;
    }
    a {
      color: #aaa;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .bull {
      padding: 0px 5px;
      color: #555;
    }
    #container {
      height: 75%;
    }
    #newsContainer div {
      padding: 0;
      margin: 0;
    }
    #newsContainer {
      height: 25%;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    #newsCol {
      height: 100%;
      overflow: auto;
    }
    #map {
      height: 100%;
      width: 100%;
    }
  body
    div#container
    div#newsContainer(class="container row")
      div#newsCol(class="col-md-9")
        div#newsList(class="list-group")
      div(class="col-md-3" style="height: 100%;")
        div#map

    script(type='text/javascript').
      var globe = DAT.Globe(document.getElementById('container'), {
        colorFn: function(label) {
          return new THREE.Color([
            0xd9d9d9, 0xb6b4b5, 0x9966cc, 0x15adff, 0x3e66a3,
            0x216288, 0xff7e7e, 0xff1f13, 0xc0120b, 0x5a1301, 0xffcc02,
            0xedb113, 0x9fce66, 0x0c9a39,
            0xfe9872, 0x7f3f98, 0xf26522, 0x2bb673, 0xd7df23,
            0xe6b23a, 0x7ed3f7][label]);
        }
      });

      var map;

      var data = [[],[]];

      var origin = window.location.origin;
      //console.log(window.location.origin);
      //var socket = io.connect(origin + ":8000");
      var socket = io.connect("localhost:8000");

      socket.on('nyt', function (data) {
        console.log(data);
        window.data[1] = data['gldata'];
        globe.addData(data, {format: 'legend'});
        globe.createPoints();
        globe.animate();
        document.body.style.backgroundImage = 'none'; // remove loading

        //add markers every two data points

      });
      socket.on('buzz', function (data) {
        console.log("buzz", data);
        window.data[0] = JSON.parse(data['gldata']);
        console.log(window.data);
        globe.addData(window.data[0], {format: 'legend'});
        globe.createPoints();
        globe.animate();
        document.body.style.backgroundImage = 'none'; // remove loading

        var buzzHeads = JSON.parse(data['heads'])

        for(i = 0; i < buzzHeads.length; i++){

          $('#newsList').append("<a href='#' value='" + i + "' onclick='clickList(this)' class='list-group-item'>" + buzzHeads[i] + "</a>");

          new google.maps.Marker({
            position: {lat: window.data[0][i*3], lng: window.data[0][i*3+1]},
            map: map,
            title: 'Hello World!'
          });
        }

        map.setCenter({lat: window.data[0][0], lng: window.data[0][1]});

      });

      function clickList(elem){

        $("#newsList a.list-group-item").removeClass("active");
        $(elem).addClass("active");
        console.log(parseInt($(elem).attr('value')));
        map.setCenter(
          {lat: window.data[0][parseInt($(elem).attr('value'))*3], 
          lng: window.data[0][parseInt($(elem).attr('value'))*3+1]});

      }

      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: -25.363, lng: 131.044}
        });
      }

